## String Formatting

In [1]:
Person = dict(name='jain',age=23)


sentence = 'My name is ' + Person['name'] + ' and my age is ' + str(Person['age']) + '.'

sentence

'My name is jain and my age is 23.'

In [2]:
sentence = 'My name is {1} and my age is {0}.'.format(Person['name'],Person['age'])
sentence

'My name is 23 and my age is jain.'

In [3]:
name = 'Shashank'
age = 900
sentence = 'My name is {1} and my age is {0}.'.format(age,name)
sentence

'My name is Shashank and my age is 900.'

### Getting value from dictionary:

In [4]:
sentence = 'My name is {0[name]} and age is {0[age]}.'.format(Person)
sentence

'My name is jain and age is 23.'

In [5]:
sentence = 'My name is {name} and age is {age}.'.format(**Person)
sentence

'My name is jain and age is 23.'

### Getting value from a list:

In [6]:
lis = ['Shashank',234]
sentence = 'My name is {0[0]} and age is {0[1]}.'.format(lis)
sentence

'My name is Shashank and age is 234.'

In [7]:
sentence = 'My name is {name} and age is {age}.'.format(name='Shashank',age='333')
sentence

'My name is Shashank and age is 333.'

### Number string formatting

#### Adding 0 before a number

In [8]:
value = 3
sentence = 'Value of this thing is {:02}'.format(value)
sentence

'Value of this thing is 03'

#### Customise decimal points

In [9]:
from math import pi
pi
sentence = 'value of pi is {:.4f}.'.format(pi)
sentence

'value of pi is 3.1416.'

#### Adding come in numbers

In [10]:
sentence = 'value of pi is {:,}'.format(1000*1000)
sentence

'value of pi is 1,000,000'

#### Coma with decimal values

In [11]:
sentence = 'value of pi is {:,.2f}.'.format(1000*1000)
sentence

'value of pi is 1,000,000.00.'

### Date Formatting

In [12]:
import datetime

d = datetime.datetime.today()
d

datetime.datetime(2020, 8, 16, 18, 2, 53, 738070)

In [13]:
sentence  = 'Today\'s date is {: %dth %B, %Y}.'.format(d)

sentence

"Today's date is  16th August, 2020."

In [14]:
sentence = 'Today date is {0:%d} and year is {0:%Y} and day is {0:%A} which means date is {0:%dth,2020}.'.format(d)
sentence

'Today date is 16 and year is 2020 and day is Sunday which means date is 16th,2020.'